/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/* Cover (Focus) Screen */
.horizontal-spacer {
  padding-left: 0.1rem;
}
.focus-screen {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.3);
}
.focus-button {
  /*padding: 1rem;
        padding-left: 3.25rem;
        padding-right: 3.25rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;*/
  margin-bottom: 1rem;
}

.filter-button {
  padding: 0.1rem;
}
.nav {
  text-align: left;
  margin: 0;
  padding: 0;
}
.nav li {
  display: inline-block;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}
.task-list {
  max-width: 990px;
  padding: 1rem;
}
.task-row {
  margin-bottom: 1rem;
}
.task-due {
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  background-image: repeating-conic-gradient(
    at 50% 50%,
    rgb(235, 235, 235, 0.1) 0%,
    rgb(235, 235, 235, 0.4) 1%
  );
}
.task-complete {
  background-color: rgb(229, 229, 247);
  opacity: 0.8;
  background-image: repeating-conic-gradient(
    at 50% 50%,
    rgb(0, 255, 38, 0.2) 0%,
    rgb(191, 255, 200, 0.2) 1%
  );
}
.task-overdue {
  background-color: rgb(247, 247, 229);
  opacity: 0.8;
  background-image: repeating-conic-gradient(
    at 50% 50%,
    rgba(255, 0, 0, 0.2) 0%,
    rgba(255, 191, 191, 0.2) 1%
  );
}
.task-row-element {
  padding: 0.5rem;
}

.themed-grid-col {
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  border: 1px dashed rgba(0, 0, 0, 0.2);
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-task {
  max-width: 550px;
  padding: 1rem;
}

.form-task .form-floating:focus-within {
  z-index: 2;
}

.form-task input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-task input[type="number"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-task select {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-task textarea {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
