{% extends "base.html" %} {% block content %}
<main class="task-list w-100 m-auto">
  {% for task in object_list %}
  <div class="row mb-3 text-center">
    <div class="col-md-4 themed-grid-col">
      <a href="{{ task.get_absolute_url }}">{{ task.title }}</a>
    </div>
    <div class="col-md-4 themed-grid-col">{{ task.due_date }}</div>
    <div class="col-md-4 themed-grid-col">{{ task.status }}</div>
  </div>
  {% endfor %}
  <!--<table>
    <thead>
      <th>Tasks</th>
      <th>Due Date</th>
      <th>Status</th>
    </thead>
    <tbody>
      {% for task in object_list %}
      <tr>
        <td>
          <h3><a href="{{ task.get_absolute_url }}">{{ task.title }}</a></h3>
        </td>
        <td>
          <h4>{{ task.due_date }}</h4>
        </td>
        <td>
          <h4>{{ task.status }}</h4>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>-->
</main>
{% endblock content %}
