{% extends "base.html" %} {% block content %}
<main
  class="h-100 focus-screen cover-container d-flex text-center p-3 flex-column"
>
  <p><a href="{{ object.get_absolute_url }}">← Back to Task Details</a></p>
  <h1>{{ object.title }}</h1>
  <p class="lead">{{ object.body|linebreaksbr }}</p>
  {% if object.estimated_time %}
  <div id="timer" class="lead">
    <h1 id="remaining-time">{{ object.estimated_time }}</h1>
    <!--<a
      href="#"
      role="button"
      class="btn btn-lg btn-light fw-bold border-secondary bg-white"
      >Complete</a
    >-->
  </div>
  {% endif %}
</main>
<script>
  function makeTimer(endTime) {
    var now = new Date();
    var now = Date.parse(now) / 1000;
    var timeLeft = endTime - now;

    var days = Math.floor(timeLeft / 86400);
    var hours = Math.floor((timeLeft - days * 86400) / 3600);
    var minutes = Math.floor((timeLeft - days * 86400 - hours * 3600) / 60);
    var seconds = Math.floor(
      timeLeft - days * 86400 - hours * 3600 - minutes * 60
    );

    if (minutes < "10") {
      minutes = "0" + minutes;
    }
    if (seconds < "10") {
      seconds = "0" + seconds;
    }

    if (minutes < 1 && seconds < 1) {
      if (document.getElementById("remaining-time")) {
        document.getElementById("remaining-time").innerText = "";
      }
      document.getElementById(
        "timer"
      ).innerHTML = `<a href="{% url 'task_complete' object.pk %}" role="button" class="btn btn-lg btn-outline-success">Complete</a>`;
    } else {
      document.getElementById("remaining-time").innerText =
        minutes + ":" + seconds;
    }
  }

  var now = new Date();
  var diff = document.getElementById("remaining-time").innerText;
  if (!diff) {
    diff = 15;
  }
  var endTime = new Date(now.getTime() + diff * 60000);

  var now = Date.parse(now) / 1000;
  var endTime = Date.parse(endTime) / 1000;

  setInterval(function () {
    makeTimer(endTime);
  }, 1000);
</script>
{% endblock content %}
