{% extends "base.html" %} {% block content %}
<main class="form-task text-center w-100 m-auto">
  <p><a href="{% url 'home' %}">← Back to Task List</a></p>
  <h2>{{ object.title }}</h2>
  <p>{{ object.body|linebreaksbr }}</p>
  {% if object.status == 'DUE' %}
  <a
    href="{% url 'task_focus' object.pk %}"
    role="button"
    class="focus-button btn btn-lg btn-outline-primary"
    >Focus</a
  >
  {% endif %}
  <div class="row">
    <p class="col-md">Estimated Time: {{ object.estimated_time }}</p>
    <p class="col-md">Elapsed Time: {{ object.elapsed_time }}</p>
    <p class="col-md">Due: {{ object.due_date }}</p>
  </div>
  <div
    class="btn-group task-row-element"
    role="group"
    aria-label="Task Buttons"
  >
    {% if object.status == 'DUE' %}
    <a
      href="{% url 'task_edit' object.pk %}"
      role="button"
      class="btn btn-outline-success"
      >Complete</a
    >
    {% endif %}
    <a
      href="{% url 'task_edit' object.pk %}"
      role="button"
      class="btn btn-outline-secondary"
      >Edit Task</a
    >
    <a
      href="{% url 'task_delete' object.pk %}"
      role="button"
      class="btn btn-outline-danger"
      >Delete Task</a
    >
  </div>
</main>
{% endblock content %}
